<i class="fa fa-calendar fa-lg" (click)='openDatePicker()'></i>
<div class="arrowbox" [style.display]="showDp">
<table id="csg-calendar">
    <caption>
        <i class='fa fa-arrow-circle-left' (click)='setPrevMonth()'></i>
        <label>{{currMonth}} {{currYear}}</label>
        <i class='fa fa-arrow-circle-right' (click)='setNextMonth(this)'></i>
    </caption>
    <thead>
        <tr>
            <th *ngFor="#day of daysofWeek">{{day}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#date of dates">
            <td *ngFor="#d of date" (click)='setDate(d)' 
                [class.disabled]='d.disabled' 
                [class.selDate]='d.selected'
                [class.empty]='d.empty'
                [class.today]='d.today'>{{d.date}}</td>
        </tr>
        <tr>
    </tbody>
</table>
<div><timepicker [ngModel]></timepicker></div>
</div>