    <table>
      <tbody>
        <tr [ngClass]="{hidden: !showSpinners}">
          <td><a (click)="incrementHours()" [ngClass]="{disabled: noIncrementHours()}" class="btn btn-sm"><i class="fa fa-chevron-up"></i></a></td>
          <td>&nbsp;</td>
          <td><a (click)="incrementMinutes()" [ngClass]="{disabled: noIncrementMinutes()}" class="btn btn-sm"><i class="fa fa-chevron-up"></i></a></td>
          <td [ngClass]="{hidden: !showMeridian}" [hidden]="!showMeridian"></td>
        </tr>
        <tr>
          <td class="form-group" [ngClass]="{'has-error': invalidHours}">
            <input type="text" input-text [(ngModel)]="hours" (change)="updateHours()" class="form-control time-input" [readonly]="readonlyInput" maxlength="2">
          </td>
          <td>:</td>
          <td class="form-group" [ngClass]="{'has-error': invalidMinutes}">
            <input type="text"  input-text [(ngModel)]="minutes" (change)="updateMinutes()" class="form-control time-input" [readonly]="readonlyInput" maxlength="2">
          </td>
          <td [ngClass]="{hidden: !showMeridian}" [hidden]="!showMeridian"><button type="button" [ngClass]="{disabled: noToggleMeridian()}" class="btn btn-default btn-sm" (click)="toggleMeridian()">{{meridian}}</button></td>
          <td>
            <button type="button" class="btn btn-default btn-sm timepicker-trigger" (click)="setTimeEvent($event)">Set time</button>
          </td>
        </tr>
        <tr class="text-center" [ngClass]="{hidden: !showSpinners}">
          <td><a (click)="decrementHours()" [ngClass]="{disabled: noDecrementHours()}" class="btn btn-sm"><i class="fa fa-chevron-down"></i></a></td>
          <td>&nbsp;</td>
          <td><a (click)="decrementMinutes()" [ngClass]="{disabled: noDecrementMinutes()}" class="btn btn-sm"><i class="fa fa-chevron-down"></i></a></td>
          <td [ngClass]="{hidden: !showMeridian}" [hidden]="!showMeridian"></td>
        </tr>
      </tbody>
  </table>