
.csg-inputtext { 
    border: 1px solid #BCBEC0;
    border-radius: 3px;  
    padding: 10px 15px;
}

.csg-inputtext.csg-state-focus,
.csg-inputtext.csg-state-focus.ng-invalid {
    border: 1px solid #0088CE;
    outline: none;
  }

.csg-inputtext.ng-invalid {
  border: 1px solid #E70000;
}

.csg-inputtext.csg-state-disabled {
  background-color: #E6E7E8;
}

i.fa.fa-calendar.fa-lg {
    position: relative;
    right: 34px;
}

i.fa.fa-calendar,
i.fa.fa-chevron-up,
i.fa.fa-chevron-down {color: #808285;}

.csg-state-hover > i.fa.fa-calendar,
.csg-state-hover > i.fa.fa-chevron-up,
.csg-state-hover > i.fa.fa-chevron-down {color: #0088CE;}

.fa-arrow-circle-left,
.fa-arrow-circle-right {color: #0088CE;}

/* Calendar */

.input-calendar {
    width: 240px;
}

.fa-arrow-circle-left {float:left; margin-left: 7px;}
.fa-arrow-circle-right {float:right; margin-right: 7px;}


#csg-calendar {
    color: #808285;
    font-size: 12px;
}

#csg-calendar caption {
    font-size: 14px;
    padding: 10px 4px;
    text-align: center;
    z-index: -99;
}

#csg-calendar thead th {
    font-size: 8px;
    padding: 5px 0;
    color: #808285;
    text-transform: uppercase;
}
 
#csg-calendar tbody td {
    color: #808285;
    cursor: default;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

#csg-calendar tbody td.disabled,
#csg-calendar tbody td.empty  {
    color: #cccccc;
    cursor: inherit;
}

#csg-calendar tbody td.seldate {
    border-radius: 50%;
    background-color: $ffffff;
    box-shadow: inset 0 0 0 2px #0088CE;
    height: 12px;
    width: 12px;
}

#csg-calendar tbody td.pad {
    background: #f5f5f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ececec));
    background: -moz-linear-gradient(top,  #f5f5f5,  #ececec);
}

#csg-calendar tfoot {
    color: #e0e0e0;
    font-size: 12px;
    text-align: center;
}

#csg-calendar tfoot tr {
    background: #f5f5f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ececec));
    background: -moz-linear-gradient(top,  #f5f5f5,  #ececec);
}

#csg-calendar tfoot td {    padding: 10px 10px }

#csg-calendar tfoot a {
    color: #808285;
}

#csg-calendar tfoot td#prev {    text-align: left }

#csg-calendar tfoot td#next {    text-align: right }

#csg-calendar tbody td.today {
    color: #0088CE;
}


#csg-calendar { 
    border-bottom: 1px solid #BCBEC0; }

.arrowbox {
    position: relative;
    border: 1px solid #0088CE;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    margin:5px 0;
    padding: 6px;
    width: 225px;
}

.arrowbox:after, .arrowbox:before {
    bottom: 100%;
    left: 92%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrowbox:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 7px;
    margin-left: -7px;
}

.arrowbox:before {
    border-color: rgba(0, 136, 206, 0);
    border-bottom-color: #0088CE;
    border-width: 9px;
    margin-left: -9px;
}

/* Time Picker */

.time-input {
  border: 1px solid #BCBEC0;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
  width: 40px; }

/* Buttons */

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }
  .btn:focus {
    border: 1px solid #0088CE;
    outline: none; }

.btn-default {
  background-color: #fff;
  border-color: #BCBEC0; }

  .btn-default:hover {
    border: 1px solid #0088CE;
}

.btn-group-xs > .btn, .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-group-sm > .btn, .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-group-lg > .btn, .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }


